.c-button {
  &-base {
    height: $button-height !important;
    width: $button-width !important;
    border-radius: 25px !important;
    background: var(--v-accent-base) !important;
    color: var(--v-text-base) !important;

    &--outlined {
      height: $button-height !important;
      width: $button-width !important;
      border-radius: 25px !important;
      background: transparent !important;
      color: var(--v-accent-base) !important;
      border: 1px solid var(--v-accent-base);
      transition: 0.2s linear;

      &:hover {
        background-color: var(--v-accent-base) !important;
        color: var(--v-text-base) !important;
      }

      &.v-btn--disabled {
        border: gray;
      }
    }
  }

  &-delete {
    height: $button-height !important;
    width: $button-width !important;
    border-radius: 25px !important;
    background: var(--v-error-base) !important;
    color: var(--v-text-base) !important;
    &--outlined {
      height: $button-height !important;
      width: $button-width !important;
      border-radius: 25px !important;
      background: transparent !important;
      color: var(--v-error-base) !important;
      border: 1px solid var(--v-error-base);
    }
  }
}
