// Sizes, paddings, margins
$base-padding: 2rem;
$base-border-radius: 10px;
$button-height: 35px;
$button-width: 150px;

// Colors
$dark-background-gradient: linear-gradient(
  180deg,
  rgba(34, 40, 49, 1) 50%,
  rgba(57, 62, 70, 1) 100%
);

$active-gradient: linear-gradient(
  90deg,
  rgba(74, 246, 255, 0.35) 0%,
  rgba(0, 78, 82, 0.35) 100%
);

// Fonts
$regular-font-size: 14px;
$medium-font-size: 18px;
$details-icon-font-size: 34px;
$big-font-size: 48px;

// Borders
$base-border: 2px solid var(--v-accent-base);
$thick-border: 1px solid var(--v-accent-base);
